<Card Style="width:12rem; background-color: rgba(128, 128, 128, 0.5)">
    <div class="rounded-top d-flex justify-content-center align-items-center" 
         style="height: 100px; font-size: 48px;">
        🎮
    </div>
    <CardBody Style="display:flex; justify-content:center;align-content:center; color:whitesmoke">
        <CardTitle>Jogar</CardTitle>
    </CardBody>
</Card>


<Card style="width: 12rem; background-color: rgba(128, 128, 128, 0.5); text-align: center;">
    <div class="rounded-top d-flex justify-content-center align-items-center"
         style="height: 180px;">
        <svg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
            <path d="M32 2C20 2 10 12 10 24c0 8 4 15 10 19v5c0 2 2 4 4 4h16c2 0 4-2 4-4v-5c6-4 10-11 10-19 0-12-10-22-22-22z" fill="#000" />
            <circle cx="24" cy="24" r="4" fill="#fff" />
            <circle cx="40" cy="24" r="4" fill="#fff" />
            <path d="M28 36c2 2 6 2 8 0" stroke="#fff" stroke-width="2" stroke-linecap="round" />
        </svg>
    </div>
    <CardBody>
        <CardTitle>Card title</CardTitle>
        <CardText>
            Ícone de gato em SVG com fundo cinza semi-transparente.
        </CardText>
    </CardBody>
</Card>


@code {

}
